[submodule ".emacs.d/elisp/emms"]
	path = .emacs.d/elisp/emms
	url = git://git.sv.gnu.org/emms.git
[submodule ".emacs.d/elisp/jabber"]
	path = .emacs.d/elisp/jabber
	url = git://catap.ru/emacs-jabber/emacs-jabber.git
[submodule ".emacs.d/elisp/magit"]
	path = .emacs.d/elisp/magit
	url = git://gitorious.org/magit/mainline.git
